{% extends 'flatpages/default.html' %}

{% block title %}
Объявления
{% endblock title %}

{% block content %}
    <h1>Все объявления</h1>
    <h3>Объявлений на странице: {{ Ads|length }}</h3>
    <hr>
    {% if Ads %}
        <!-- Для каждого объявления будет генерироваться новая строчка -->
        {% for a_ads in Ads %}
            <h1>______________________________________________________</h1>
            <!-- Здесь можно получать доступ к полям объекта модели. -->
            <h5><a href="{% url 'a_ads' a_ads.id %}">{{ a_ads.title }}</a></h5>
            {{ a_ads.time_create|date:'d M Y' }}
            {% if user.is_authenticated %}
                <br>
                <a href="{% url 'response' a_ads.id %}">
                    <button style="display: inline-block; padding: 6px 12px; background-color: #007bff;
                                    color: white; border: none; cursor: pointer;">Откликнуться</button>
                </a>
            {% endif %}
            <h1>______________________________________________________</h1>
<!--            {{ a_ads.content|truncatewords:20|safe }}-->
        {% endfor %}
        <br>
    {% else %}
        <h2>Объявлений пока нет!</h2>
    {% endif %}

<!-- Добавляем пагинацию на страницу-->
    {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
            {% endif %}
        {% endif %}

<!--{# Информация о текущей странице #}-->
    {{ page_obj.number }}

<!--{# Информация о следующих страницах #}-->
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}