{% extends 'flatpages/default.html' %}

{% load custom_tags %}

{% block title %}
Мои объявления
{% endblock title %}

{% block content %}
    <h1>Все объявления пользователя {{ user }}</h1>
    <h3>Объявлений на странице: {{ My_ads|length }}</h3>
    <hr>
    {% if My_ads %}
        {% for a_ads in My_ads %}
            <h1>________________________________________</h1>
            <h5><a href="{% url 'a_ads' a_ads.id %}">{{ a_ads.title }}</a></h5>
            {{ a_ads.time_create|date:'d M Y' }}
<!--            {{ a_ads.content|truncatewords:4|safe }}-->
            <h5>Количество отзывов: {% get_quantity_response a_ads.id %}</h5>

            <br>
            <a href="{% url 'ads_edit' a_ads.id %}">
                 <button style="display: inline-block; padding: 6px 12px; background-color: #007bff; color: white;
                 border: none; cursor: pointer;">Редактировать</button>
            </a>

            <a href="{% url 'ads_delete' a_ads.id %}">
                <button style="display: inline-block; padding: 6px 12px; background-color: #28a745; color: white;
                border: none; cursor: pointer;">Удалить</button>
            </a>

            <a href="{% url 'my_response' a_ads.id %}">
                <button style="display: inline-block; padding: 6px 12px; background-color: #FF8C00; color: white;
                border: none; cursor: pointer;">Отклки</button>
            </a>
            <h1>________________________________________</h1>

        {% endfor %}
        <br>
    {% else %}
        <h2>Объявлений пока нет!</h2>
    {% endif %}

<!-- Добавляем пагинацию на страницу-->
    {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
            {% endif %}
        {% endif %}

<!--{# Информация о текущей странице #}-->
    {{ page_obj.number }}

<!--{# Информация о следующих страницах #}-->
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}